Repository aregtech/areg-sdk, pull requests merged in 2022-03, with the labels that each got.

#48 20220205 issue18 cmake
  CMakeLists.txt
  conf/cmake/common.cmake
  conf/cmake/user.cmake
  examples/CMakeLists.txt
  framework/CMakeLists.txt
  framework/areg/CMakeLists.txt
  framework/areg/appbase/private/CMakeLists.txt
  framework/areg/base/private/CMakeLists.txt
  framework/areg/component/private/CMakeLists.txt
  framework/areg/ipc/private/CMakeLists.txt
  framework/areg/persist/private/CMakeLists.txt
  framework/areg/trace/private/CMakeLists.txt
  framework/mcrouter/CMakeLists.txt
Labels: enhancement, cmake

#49 Convert String to std::string - cont
  examples/05_timer/src/main.cpp
  framework/areg/appbase/Application.hpp
  framework/areg/appbase/private/Application.cpp
  framework/areg/base/DateTime.hpp
  framework/areg/base/Version.hpp
  framework/areg/base/private/DateTime.cpp
  framework/areg/base/private/Version.cpp
Labels: c++17 migration

#50 20220205 issue18 cmake
  framework/areg/appbase/private/CMakeLists.txt
  framework/areg/base/private/CMakeLists.txt
  framework/areg/base/private/posix/CMakeLists.txt
  framework/areg/base/private/win32/CMakeLists.txt
  framework/areg/component/private/CMakeLists.txt
  framework/areg/component/private/posix/CMakeLists.txt
  framework/areg/component/private/win32/CMakeLists.txt
  framework/areg/ipc/private/CMakeLists.txt
  framework/areg/persist/private/CMakeLists.txt
  framework/areg/trace/private/CMakeLists.txt
  framework/mcrouter/CMakeLists.txt
  framework/mcrouter/app/private/CMakeLists.txt
  framework/mcrouter/tcp/private/CMakeLists.txt
Labels: enhancement, cmake, script

#51 20220205 issue18 cmake
  CMakeLists.txt
  framework/CMakeLists.txt
  framework/areg/CMakeLists.txt
  framework/areg/base/private/posix/CMakeLists.txt
Labels: enhancement, cmake, script
